[run]
source = ./deep_serializer
omit =
    example/*
    deep_serializer/serializers/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    def parse_args